.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    color: black;
    background-color: #d0b2f7;
}
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(47, 215, 245, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #9121d1;
    color: white;
}
.choice-text {
    padding: 1.5rem;
    width: 100%;
}
.correct {
    background-color: #28a745;
}
.incorrect {
    background-color: #dc3545;
}
